biopython==1.84
gpplot==0.5.0
jupyter
matplotlib
matplotlib-venn==1.1.2
numpy
openpyxl
optuna
pandas
pysam==0.23.3
scikit-learn
scipy
seaborn
shap
statannot
statannotations
statsmodels
tqdm
UpSetPlot
xgboost
zipp
